<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="[ %-5level %t %logger{36} %d{yyMMdd HH:mm:ss} ] -- %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="HelloLogger" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="Hanoi" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>
